
{% extends 'layouts/general-layouts.html' %}
    {% load static %}
    {% block title %} Inicio {% endblock title %}

{% block content %} 

<!-- HERO / PRESENTACIÓN -->
<section class="hero text-center py-20 bg-gray-100">
    <div class="hero-content max-w-3xl mx-auto flex flex-col items-center gap-6">

        <!-- TÍTULO -->
        <h2 class="text-4xl font-bold text-pink-700">
            Encontrá a tu nuevo mejor amigo 💌
        </h2>

        <!-- SUBTÍTULO -->
        <p class="text-lg font-bold text-teal-700 max-w-xl">
            Adoptá, no compres. Miles de mascotas esperan por una familia.
        </p>

        <!-- BUSCADOR -->
        <div class="w-full flex justify-center mt-4">
            <div class="w-[300px] md:w-[400px] p-2 border border-gray-300 rounded-md flex shadow-sm bg-white">
                <input 
                    type="text" 
                    class="w-full h-full focus:outline-none"
                    placeholder="Buscar mascota..."
                >
            </div>
        </div>

        <!-- BOTONES -->
        <div class="hero-buttons mt-4 flex justify-center gap-4">
            <a href="{% url 'usuario:user-profile' %}" class="btn font-bold hover:text-gray-200 transition">Ver mascotas</a>
            <a href="{% url 'post:consejos' %}" class="btn-secundario font-bold hover:text-gray-200 transition">Consejos de cuidado</a>
        </div>
    </div>
</section>


{% endblock content %}