{
magin: 0;
pading: 0;
box-sizing: boder-box; 
}
body{
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
}

.navbar{
    font-size: 22px;
    font-weight: 800;
}

.navbar{
    list-style: none;
    display: flex;
    gap: 30px;
    
   
}
.navbar a{
    text-decoration: none;
    color: purple;
    font-size: 18px;
}
.conteiner_titulo{
    text-align: center;
    margin-top: 60px;
}
.conteiner_titulo h2{
    font-size: 40px;
}
.conteiner_titulo h2{
    font-size: 16px;
}
.conteiner_buscador{
    margin: 30px auto;
    width: 330px;
    border: 1px solid grey;
    border-radius: 6px;
}
.conteiner_buscador input{
    border: none;
    width: 300;
    padding: 12px;
}
.conteiner_buscador input:focus{
    outline: none;
}
.conteiner_articles{
    max-width: 1300px;
    overflow: hidden;
    margin: 80px auto;
    display: flex;
    gap: 30px;
    
}
.card{
    width: 100%;
    object-fit: cover;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}
.etiqueta{
    width: 50px;
    background-color: blue;
    color: #fff;
    padding: 4px 10px;
    margin: 12px;
}
.card h3{
    font-size: 20px;
    margin-top: 10px;
}
.fecha{
    font-size: 15px;
}
.