
{% extends 'layouts/base-layouts.html' %}

{% block title_layout %}

    L

{% block title %} My BLOG {% endblock title %} 

{% endblock title_layout %}

{% block content_layout %}

{% include 'commons\header.html' %}

<main class="flex justify-center min-h-[calc(100dvh-56px-56px)] mx-4 md:mx-8 lg:mx-40">
    <div class="container flex flex-col justify-center items-center">
        {% block content %} Carga un Contenido {% endblock content %}
    </div>
</main>

{% include 'commons\footer.html' %}

{% endblock content_layout %}