{% extends 'layouts/general-layouts.html' %}


{% block title %}Post{% endblock title %}


{% block content %}
<h2>crear nuevo Post</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <p>{{form.title.label_tag}}{{form.title}}</p>
        <p>
            <label for="id_content"></label>Contenido:{{form.content}}
        </p>
        <p>{{form.allow_comments.label_tag}}{{form.title}}</p>
        <p><input type="file" name="images" multiple /></p>
    </div>
    
    <button type="submit" class="bg-blue-400">Crear Post</button>
</form>
{% endblock content %}
    
    