
{% extends 'layouts/general-layouts.html' %}
{% block title %}Consejos y cuidados{% endblock title %}

{% block content %}
<!--CONTENIDO PRINCIPAL-->
    <section class="max-w-3xl mx-auto text-center py-12 px-6">
    
    <h2 class=" inline-block border border-gray-300 px-4 py-1 rounded-full mt-10 text-2xl font-semibold text-red-400">Sobre nosotros</h2>

    <p class="mt-4 text-gray-700 px-5 py-2 leading-relaxed">
        Bienvenidos a <strong>Adopta con Amor</strong>, un espacio dedicado a conectar mascotas en adopción
        con familias responsables y amorosas. Nuestro objetivo es facilitar el proceso de adopción
        y brindar información útil para asegurar el bienestar de cada animal.
    </p>

    <p class="mt-4 text-gray-700 px-5 py-2 leading-relaxed">
        Trabajamos para que cada historia tenga un final feliz, promoviendo la adopción responsable,
        la tenencia consciente y el respeto por todos los animales.
    </p>

    <h3 class=" inline-block border border-gray-300 px-4 py-1 rounded-full mt-10 text-2xl font-semibold text-red-400">Nuestra misión</h3>
    <p class="mt-4 text-gray-700 px-5 py-2 leading-relaxed">
        Fomentar la adopción y ayudar a que cada mascota encuentre un hogar adecuado donde pueda
        vivir feliz, cuidada y acompañada.
    </p>

    <h3 class=" inline-block border border-gray-300 px-4 py-1 rounded-full mt-10 text-2xl font-semibold text-red-400">¿Cómo funciona?</h3>
    <ul class="mt-4 text-gray-700 space-y-2">
        <li class=" flex items-center justify-center px-5 py-2 gap-2">
            <span>📌</span> Personas y refugios pueden registrar mascotas para adopción.
        </li>
        <li class="flex items-center justify-center px-5 py-2 gap-2">
            <span>📌</span> Visitantes pueden ver las publicaciones y contactar para adoptar.
        </li>
        <li class="flex items-center justify-center px-5 py-2 gap-2">
            <span>📌</span> Compartimos consejos y recursos sobre cuidado animal.
        </li>
    </ul>
</section>

        {% endblock content %}

