<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Categorías</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!--HEADER/NAV-->
    <header class="header">
        <nav class="nav">
            
            <!--LOGO-->
            <a href="index.html" class="logo">
                <img src="img/logo-blog.png" alt="Logo Adopta con Amor">
            </a>

            <ul class="nav-links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="adopciones.html">En adopcioón</a></li>
                <li><a href="consejos.html"></a>Consejos</li>
                <li><a href="contacto.html"></a>Contacto</li>
            </ul>

            <div class="auth-buttons">
                <a href="login.html" class="btn-login">Ingresar</a>
                <a href="registro.html" class="btn-register">Registrarse</a>
            </div>
        </nav>
    </header>

    <!--SECCIÓN PRINCIPAL-->
    <section class="categorías-container">
        <h1>Categorías</h1>
        <p>Elegí la categoría que querés explorar según tus intereses</p>

        <div class="categorias-grid">

            <!--PERROS-->
            <div class="categoria-card">
                <img src="img/perros.png" alt="Perros" class="categoria-img">
                <h2>Perros</h2>
                <p>Mirá todos los perritos disponibles para adopción</p>
                <a href="#" class="btn">Ver más</a>
            </div>

            <!--GATOS-->
            <div class="categoria-card">
                <img src="img/gatos" alt="Gatos" class="categoria-img">
                <h2>Gatos</h2>
                <p>Descubrí los gatitos en búsqueda de un hogar.</p>
                <a href="#" class="btn">Ver más</a>
            </div>

            <!--ADOPCIÓN URGENTE-->
            <div class="categoria-card">
                <img src="img/urgente" alt="Adopción urgente" class="categoria-img">
                <h2>Urgente</h2>
                <p>Animales que necesitan adopción inmediata</p>
                <a href="#" class="btn">Ver más</a>
            </div>

            <!--CACHORROS-->
            <div class="categoria-card">
                <img src="img/cachorros.png" alt="Cachorros" class="categoria-img">
                <h2>Cachorros</h2>
                <p>Los más peques esperando familia</p>
                <a href="#" class="btn">Ver más</a>
            </div>

            <!--ADULTOS-->
            <div class="categoria-card">
                <img src="img/adultos" alt="Adultos" class="categoria-img">
                <h2>Adultos</h2>
                <p>Compañeros tranquilos y amorosos</p>
                <a href="#" class="btn">Ver más</a>
            </div>
        </div>
    </section>

        <!--FOOTER-->
    <footer class="footer">
        <div class="footer-col">
            <h3>Adopta con amor</h3>
            <p>Un espacio para conectar mascotas con familias responsables.</p>
        </div>

        <div class="footer-col">
            <h4>Secciones</h4>
            <ul>
                <li><a href="index.html">Inicio/a></li>
                <li><a href="adopciones.html">En adopción</a></li>
                <li><a href="consejos.html">Consejos</a></li>
                <li><a href="contacto.html.">Contacto</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>Contáctanos📧</h4>
            <p>Email: adopcionesfelices@gmail.com</p>
        </div>

        <div class="footer-copy">
            <p>© 2025 - Todos los derechos reservados</p>
        </div>
    </footer>
   
</body>
</html>