<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consejos y cuidados</title>
    
    <!--TAILWIND CDN-->
    <script src="https://cdn.tailwindcss.com"></script>    
</head>

<body class="bg-gray-50 text-gray-800">

    <!--HEADER-->
    <header class="bg-white shadow">
        <nav class="max-w-6xl mx-auto flex items-center justify-between p-4">
            
            <!--LOGO-->
            <div class="logo-container">
                <img src="img/logo-blog.png" alt="Logo Adopta con Amor" class="h-10 w-10 object-contain">
            </div>

           <!--LINKS-->
            <ul class="hidden md:flex items-center gap-6 text-lg font-medium">
                <li><a href="index.html" class="hover:text-rose-600">Inicio</a></li>
                <li><a href="adopciones.html" class="hover:text-rose-600">En adopción</a></li>
                <li><a href="consejos.html" class="hover:text-rose-600">Consejos</a></li>
                <li><a href="contacto.html" class="hover:text-rose-600">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!--CONTENEDOR GENERAL-->
    <section class="max-w-6xl mx-auto px-4 py-12">

        <!--TÍTULO-->
        <h1 class="text-3xl md:text-4xl font-bold text-center mb-6">Consejos y cuidados para tu mascota</h1>
        
        <!--INTRODUCCIÓN-->
        <p class="text-center max-w-3xl mx-auto text-gray-600 mb-10 leading-relaxed">
            Adoptar es un acto de amor enorme. 
            Cuidar también lo es. 
            <br>Acá tenés información esencial para una adopción responsable,
            requisitos, especies permitidas y recomendaciones según tu estilo de vida.
        </p>

        <!--GRILLAS FIXED-->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

            <!--ADOPCIÓN RESPONSABLE-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">💜Adopción responsable</h2>
                <p class="text-gray-600">
                    Adoptar cambia vidas. Al darle un hogar a un animal, estás ofreciendo amor,
                    estabilidad y una familia. Adoptar con responsabilidad significa comprometerte
                    con su bienestar emocional y físico durante toda su vida.
                </p>
            </div>

            <!--REQUISITOS PARA ADOPTAR-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">📋Requisitos para adoptar</h2>
                <p class="text-gray-600">
                    •Ser mayor de 18 años.<br>
                    •Poder dedicar tiempo, cuidados y amor.<br>
                    •Comprometerte con la salud, castración y vacunación.<br>
                    •Completar la solicitus de adopción.<br>
                    •Asegurar un origen legal y documentación del animal.
                </p>
            </div>

            <!--LEGALIDAD Y NORMATIVA-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">⚖️Legalidad y normativa</h2>
                <p class="text-gray-600">
                    Asegurate que el animal provenga de un origen legal.
                    En Argentina existen normativas sobre tenencia responsable y especies permitidas.
                    Algunas especies exóticas requieren permisos especiales.
                </p>
            </div>

            <!--ESPECIES PERMITIDAS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐾Especies permitidas en Argentina</h2>
                <p class="text-gray-600">
                    Se permiten algunos mamíferos, aves, peces, reptiles y anfibios.
                    Están prohibidos: <b>monos, tortugas de tierra y ciertas aves silvestres</b>
                    Siempre exigí documentación legal del animal.
                </p>
            </div>

            <!--PERROS Y GATOS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐶🐱Animales convencionales</h2>
                <p class="text-gray-600">
                    Perros y gatos son los más comunes en adopción.
                    Están disponibles en refugios, protectoras y organizaciones de rescate
                    en todo el país.
                </p>
            </div>

            <!--MASCOTAS PARA NIÑOS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">👶🏻Mascotas ideales para niños</h2>
                <p class="text-gray-600">
                    Con supervisión adulta, pueden ser buenas opciones:
                    cobayos, conejos, hurones, ratas y hámsters.
                    Siempre deben manipularse con cuidado.
                </p>
            </div>

            <!--EXÓTICAS FÁCILES-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🌿Especies exóticas de fácil crianza</h2>
                <p class="text-gray-600">
                    Los hurones domésticos suelen ser dóciles, curiosos y no representan
                    riesgos de enfermedades zoonóticas. Son inquietos, pero muy sociables.
                </p>
            </div>

            <!--EXÓTICAS DIFÍCILES-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐍Especies de difícil manejo</h2>
                <p class="text-gray-600">
                    Las serpientes requieren cuidados complejos. Algunas constrictoras
                    como pitones y boas pueden superar los 6 metros, representando riesgos físicos.
                </p>
            </div>

            <!--GATOS ADOPTABLES-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐱Tipos de gatos adoptables</h2>
                <p class="text-gray-600">
                    En refugios suelen encontrarse gatos mestizos, pero también pueden aparecer
                    razas como Siamés, Bengal, Británico, Persa, entre otras.
                    No hay razas prohibidas, solo gatos silvestres por ley.
                </p>
            </div>

            <!--GATOS PROHIBIDOS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🚫Gatos silvestres prohibidos</h2>
                <p class="text-gray-600">
                    •Gato andino (Leopardus jacobita).<br>
                    •Puma (Puma concolor).<br>
                    La tenencia de fauna silvestre está prohibida sin autorización.
                </p>
            </div>

            <!--PERROS ADOPTABLES-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐕Razas de perros comunes en adopción</h2>
                <p class="text-gray-600">
                    Podés encontrar mestizos y de raza pura:
                    Labrador, Golden, Bulldog Francés, Pastor Alemán, Caniche, Galgos,
                    Dachshund, entre otros. Depende del refugio y la zona.
                </p>
            </div>

            <!--PPP--> <!--PERROS POTENCIALMENTE PELIGROSOS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">⚠️Razas potencialmente peligrosas</h2>
                <p class="text-gray-600">
                    Algunas razas requieren permisos especiales:
                    Pitbull, Rottweiler, Dogo Argentino, Akita Inu, Doberman,
                    Bullmastiff, Presa Canario, Cane Corso, entre otros.
                </p>
            </div>

            <!--MALTRATO-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🚨¿Qué es el maltrato animal?</h2>
                <p class="text-gray-600">
                    Incluye golpes, abandono, negligencia, explotación, mutilación,
                    experimentación sin control y falta de alimento o atención veterinaria.
                    Ley 14.346 sanciona con prisión estos actos.
                </p>
            </div>

            <!--AMBIENTE IDEAL-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🏡Elegir mascota según tu ambiente</h2>
                <p class="text-gray-600">
                    •Casas con patio: ideales para perros grandes y activos.<br>
                    •Departamentos: mejores para razas pequeñas, adultas o tranquilas.<br>
                    •Si el espacio es chico: más paseos = menos estrés.
                </p>
            </div>

            <!--ESTILO DE VIDA-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">⏰Estilo de vida y tiempo disponible</h2>
                <p class="text-gray-600">
                    Vida ocupada → mejor perros adultos o mayores.
                    <br>Vida activa → perros enérgicos que disfruten salir.
                    <br>Poco tiempo → considerar paseadores o "padrinos".
                </p>
            </div>

            <!--PREPARACIÓN-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">⚽Preparar el hogar</h2>
                <p class="text-gray-600">
                    Antes de adoptar, prepará un espacio seguro con cama, juguetes,
                    comedero y agua fresca siempre disponible. La adaptación requiere paciencia.
                </p>
            </div>

            <!--COMPATIBILIDAD ANIMAL-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐇Presentación con otras mascotas</h2>
                <p class="text-gray-600">
                    Si ya tenés animales, presentalos de forma supervisada y gradual.
                    La compatibilidad es clave para evitar estrés y conflictos en el hogar.
                </p>
            </div>

            <!--VACUNAS-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">💉Vacunación obligatoria</h2>
                <p class="text-gray-600">
                    Mantener el calendario de vacunas al día es fundamental para prevenir
                    enfermedades graves. Consultá a un veterinario ni bien adoptes.
                </p>
            </div>

            <!--ALIMENTACIÓN-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🍖Alimentación adecuada</h2>
                <p class="text-gray-600">
                    Elegí alimentos específicos según la edad: cachorro, adulto, senior.
                    Evitá dar comida casera o restos que puedan ser tóxicos.
                </p>
            </div>

            <!--CASTRACIÓN-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">👨🏻‍⚕️Castración responsable</h2>
                <p class="text-gray-600">
                    Castrar evita camadas no deseadas y también reduce riesgos de enfermedades.
                    Es un acto de protección y salud.
                </p>
            </div>

            <!--TIEMPO DE CALIDAD-->
            <div class="bg-white rounded-xl shadow-md p-6 h-full flex flex-col">
                <h2 class="text-xl font-bold mb-3">🐾Tiempo, juego y amor</h2>
                <p class="text-gray-600">
                    Las mascotas necesitan atención, afecto y actividad física.
                    Sacalas a pasear, jugá con ellas y dedicales tiempo de calidad.
                </p>
            </div>

        </div>
    </section>

    <!--FOOTER-->
    <footer class="bg-gray-800 text-gray-100 py-10">
        <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <div>
                <h3 class="text-xl font-bold mb-2">Adopta con amor</h3>
                <p>Un espacio para conectar mascotas con familias responsables.</p>
            </div>
        </div>

        <div>
            <h4 class="font-semibold mb-2">Secciones</h4>
            <ul class="space-y-1">
                <li><a href="index.html" class="hoover:underline">Inicio</a></li>
                <li><a href="adopciones.html" class="hoover:underline">En adopción</a></li>
                <li><a href="consejos.html" class="hoover:underline">Consejos</a></li>
            </ul>
        </div>
        
        <div>
            <br><h4 class="font-semibold mb-2">Contacto📧</h4>
            <p>Email: adopcionesfelices@gmail.com</p>
        </div>

            <p class="text-center mt-10 text-gray-400">© 2025 - Todos los derechos reservados</p>
    </footer>
   
</body>
</html>