<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Adopta con Amor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!--HERDER/NAV-->
    <header class="header">
        <nav class="nav">

            <!--LOGO-->
            <div class="logo-container">
                <img src="img/logo-blog.png" alt="Logo Adopta con Amor" class="logo-img">
                <h1 class="logo">Adopta con Amor</h1>
            </div>

            <ul class="nav links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="adopciones.html">En adopcioón</a></li>
                <li><a href="consejos.html"></a>Consejos</li>
                <li><a href="contacto.html" class="active"></a>Contacto</li>
                <li><a href="acerca.html">Acerca de</a></li>
            </ul>

            <div class="auth-buttons">
                <a href="login.html" class="btn-login">Ingresar</a>
                <a href="registro.html" class="btn-register">Registrarse</a>
            </div>
        </nav>
    </header>

    <!--SECCIÓN DE CONTACTO-->
    <section class="contacto">
        <h2>Contáctanos📧</h2>
        <p>Si tenés dudas, consultas o querés más información, completá el formulario y te responderemos a la brevedad.</p>

        <form action="#" method="POST" class="contact-form">

            <label for="nombre">Nombre completo</label>
            <input type="text" name="nombre" required id="nombre">

            <label for="email">Correo electrónico</label>
            <input type="email" name="email" required id="email">

            <label for="asunto">Asunto</label>
            <input type="text" name="asunto" required id="asunto">

            <label for="mensaje">Mensaje</label>
            <textarea name="mensaje" id="mensaje" rows="5" required></textarea>

            <button type="submit" class="btn-enviar">Enviar mensaje</button>
        </form>
    </section>

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer-col">
            <h3>Adopta con amor</h3>
            <p>Un espacio para conectar mascotas con familias responsables.</p>
        </div>

        <div class="footer-col">
            <h4>Secciones</h4>
            <ul>
                <li><a href="index.html">Inicio/a></li>
                <li><a href="adopciones.html">En adopción</a></li>
                <li><a href="consejos.html">Consejos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="acerca.html">Acerca de</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>Contáctanos📧</h4>
            <p>Email: adopcionesfelices@gmail.com</p>
        </div>

        <div class="footer-copy">
            <p>© 2025 - Todos los derechos reservados</p>
        </div>
    </footer>
 
</body>
</html>