<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width_=devide-width, initial-scale=1.0" />
    <title>Adopción de Mascotas</title>
</head>

<body>

    <!--NAVBAR-->
    <header>
        <nav>
            <h1>Adopta Amor</h1>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="categorias.html">Mascotas en adopción</a></li>
                <li><a href="#">Crea una publicación</a></li>
                <li><a href="consejos.html">Consejos y cuidados</a></li>
                <li><a href="login.html">Ingresar</a></li>
                <li><a href="registro.html">Registrate</a></li>
            </ul>
        </nav>
    </header>

    <!--CONTENIDO PRINCIPAL-->

    <main>

        <!--HERO/ PRESENTACIÓN-->
        <section id="hero"
            </h2>Encuentra a tu próximo mejor amigo🐾</h2>
            <p>Conecta con personas que buscan un hogar para sus mascotas.</p>
        <section>

        <!--SECCION DE ACCESO (LOGIN / REGISTRO)-->
        <section id="acceso">
            <h3>Acceso rápido</h3>

            <div>
                <a href="#">Iniciar sesión</a>
                <a href="#">Registrarme</a>
            </div>
        </section>

        <!--LISTADO DE MASCOTAS-->
        <section id="listado de mascotas">
            <h3>Mascotas en adopción</h3>

            <article class="tarjeta-mascota">
                <img src="#" alt="foto de mascota"/>
                <h4>Nombre del animal</h4>
                <p>Edad: X años</p>
                <p>Descripción breve...</p>
                <a href="#">Ver más</a>
            </article>

        <!--MÁS TARJETAS SE AGREGARÁN CON DJANGO-->
        </section>

        <!--CONSEJOS-->
        <section id="consejos">
            <h3>Consejos para adoptar y cuidar</h3>
            <ul>
                <li>Importancia de vacunar a tus mascotas</li>
                <li>Cómo adaptar un animal a su nuevo hogar</li>
                <li>Qué hacer si encuentras un animal en la calle</li>
            </ul>
        </section>

    </main>

    <!--FOOTER-->
    <footer>
        <p>© 2025 Adopta Amor. Proyecto Informatorio.</p>
    </footer>

</body>
<html>