<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Adopta con Amor</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <!--HEADER/NAV-->
    <header class="header">
        <nav class="nav">
            
            <!--LOGO-->

            <img src="img/logo-blog.png" alt="Logo Adopta con Amor">
            
            <ul class="nav links">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="adopciones.html">En adopcioón</a></li>
                <li><a href="consejos.html"></a>Consejos</li>
                <li><a href="contacto.html"></a>Contacto</li>
            </ul>

            <div class="auth-buttons">
                <a href="login.html" class="btn-login">Ingresar</a>
                <a href="registro.html" class="btn-register">Registrarse</a>
            </div>
        </nav>
    </header>

    <!--PRESENTACIÓN-->
    <section class="hero">
        <div class="hero-content">
            <h2>Encontrá a tu nuevo mejor amigo💌</h2>
            <p>Adoptá, no compres. Miles de mascotas esperan por una familia.</p>

            <div class="hero-buttons">
                <a href="adopciones.html" class="btn">Ver mascotas</a>
                <a href="consejos.html" class="btn-secundario">Consejos de cuidado</a>
            </div>
        </div>
    </section>

    <!--SECCIÓN DESTACADOS-->
    <section class="destacados">
        <h2>Últimas publicaciones</h2>

        <div class="tarjetas">

            <div class="tarjeta">
                <img src="images/perrito1.jpg" alt="Perrito en adopción">
                <h3>Toby</h3>
                <p>Cachorro de 3 meses. Muy juguetón y cariñoso.</p>
                <a href="detalle-mascota.html" class="btn">Ver más</a>
            </div>

            <div class="tarjeta">
                <img src="images/gatito2.jpg" alt="Gatito en adopción">
                <h3>Luna</h3>
                <p>Gatita de 1 año, tranquila y muy dulce.</p>
                <a href="detalle-mascota.html" class="btn">Ver más</a>
            </div>

            <div class="tarjeta">
                <img src="images/perrito3.jpg" alt="Perrito en adopción">
                <h3>Simón</h3>
                <p>Adulto, educado y súper compañero</p>
            </div>
        </div>
    </section>

    <!--LLAMADO A LA ACCIÓN-->
    <section class="cta"> <!--call to action-->
        <h2>¿Tenés una mascota para dar en adopción?</h2>
        <p>Registrate, subí sus datos y ayudalo a encontrar un hogar.</p>

        <a href="login.html" class="btn">Publicar mascota</a>
    </section>

    <!--FOOTER-->
    <footer class="footer">
        <div class="footer-col">
            <h3>Adopciones felices</h3>
            <p>Un espacio para conectar mascotas con familias responsables.</p>
        </div>

        <div class="footer-col">
            <h4>Secciones</h4>
            <ul>
                <li><a href="index.html">Inicio/a></li>
                <li><a href="adopciones.html">En adopción</a></li>
                <li><a href="consejos.html">Consejos</a></li>
                <li><a href="contacto.html.">Contacto</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>Contáctanos📧</h4>
            <p>Email: adopcionesfelices@gmail.com</p>
        </div>

        <div class="footer-copy">
            <p>© 2025 - Todos los derechos reservados</p>
        </div>
    </footer>

</body>
</html>