<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    
    <!--TAILWIND CDN-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <!--HERDER-->
    <header class="bg-white shadow">
        <nav class="max-w-6xl mx-auto flex items-center justify-between p-4">

            <!--LOGO-->
            <div href="index.html" class="flex items-center grap-2">
                <img src="img/logo-blog.png" alt="Logo Adopta con Amor" class="h-12">
            </div>

           <!--LINKS-->
            <ul class="hidden md:flex items-center gap-6 text-lg font-medium">
                <li><a href="index.html" class="hover:text-rose-600">Inicio</a></li>
                <li><a href="adopciones.html" class="hover:text-rose-600">En adopción</a></li>
                <li><a href="consejos.html" class="hover:text-rose-600">Consejos</a></li>
                <li><a href="contacto.html" class="hover:text-rose-600">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!--LOGIN FORM-->
    <section class="py-20">
        <div class="max-w-md mx-auto bg-white shadow-lg rounded-2xl p-8">
            
            <h1 class="text-3xl font-bold text-center mb-6">Iniciar sesión</h1>
            
            <form action="" method="POST" class="space-y-5">
                <div>
                    <label for="username" class="block font-medium mb-1">Usuario o email</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        required placeholder="Tu usuario o email"
                    c   lass="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-rose-500">
                </div>

                <div>
                    <label for="password class" class="block font-medium mb-1">Contraseña</label>
                    <input 
                        type="password" 
                        id="password" 
                        name="password" 
                        required placeholder="Tu contraseña"
                        class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-rose-500">
                </div>

                <button
                    type="submit"
                    class="w-full bg-rose-600 text-white py-3 rounded-lg font-semibold text-lg hover:bg-rose-700">Ingresar
                </button>

            </form>

            <p class="text-center mt-6">
                ¿No tenés cuenta?
                <a href="registro.html" class="text-rose-600 font-medium hoover:underline">
                Registrate acá</a></p>
        </div>
    </section>
    
    <!--FOOTER-->
    <footer class="bg-gray-800 text-gray-100 py-10">
        <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 px-4">
            <div>
                <h3 class="text-xl font-bold mb-2">Adopta con amor</h3>
                <p>Un espacio para conectar mascotas con familias responsables.</p>
            </div>
        </div>

        <div>
            <h4 class="font-semibold mb-2">Secciones</h4>
            <ul class="space-y-1">
                <li><a href="index.html" class="hoover:underline">Inicio</a></li>
                <li><a href="adopciones.html" class="hoover:underline">En adopción</a></li>
                <li><a href="consejos.html" class="hoover:underline">Consejos</a></li>
            </ul>
        </div>
        
        <div>
            <br><h4 class="font-semibold mb-2">Contacto📧</h4>
            <p>Email: adopcionesfelices@gmail.com</p>
        </div>

            <p class="text-center mt-10 text-gray-400">© 2025 - Todos los derechos reservados</p>
    </footer>
    
</body>
</html>